PAYMENT_PROVIDER=moneyfusion
CHARIOW_CHECKOUT_URL=https://wooplans.mychariow.shop/prd_41k85hc0/checkout
MONEYFUSION_API_URL=https://pay.moneyfusion.net/CP_BOOK_WOOPLANS/e25d949f16e781b6/pay/
CATALOGUE_VILLA_URL=https://drive.google.com/uc?export=download&id=18maln7qIHwKhKOVXOwtkvF85fq0XVuzr
CATALOGUE_DUPLEX_URL=https://drive.google.com/uc?export=download&id=1ArGsvuyEhnHd2IDy_9Tk0sHQQ8CNceM3
META_PIXEL_ID=1651374605332302
META_ACCESS_TOKEN=EAAB_xxx
META_API_VERSION=v23.0
